@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: alifarokh;
    src: url(../font/josefin/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: ali;
    src: url(../font/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf);
}
